
/* style th td table */
table,
th,
td {
    border: 1.5px solid black;
    border-collapse: collapse;
    font-size: 30px;
    padding-left: 40px;
}
/* style  td*/

td {
    font-size: 22px;
}